@use "../../../styles/colors";
@use "../../../styles/variables";
@use "../../../styles/mixins";

.date-picker__input {
  @include mixins.size(variables.$input-height, variables.$input-width);
  padding: 0.5rem 1rem;
  border: none;
  background-color: colors.$dark-grey;
  color: colors.$white;
  font-family: inherit;

  &::placeholder {
    color: colors.$white;
    text-transform: capitalize;
  }

  &::-webkit-calendar-picker-indicator {
    background-image: url("../../../assets/calendar-symbol.svg");
  }
}

.label {
  display: inline-block;
  margin: 1.5rem 0 0.5rem 0;
  color: colors.$pastel-red;
  font-weight: bold;
  font-size: 0.8rem;
}

.error {
  color: colors.$pastel-red;
  font-size: 0.8rem;
}
