$section-max-width: 1280px;
$section-padding: 0.8rem 1rem;
$button-padding-large: 0.8rem 1.6rem;
$button-font-large: 1rem;
$button-padding-medium: 0.5rem 1rem;
$button-font-medium: 1rem;
$button-padding-small: 0.8rem 1.6rem;
$button-font-small: 1rem;
