@use "../../../../styles/colors";
@use "../../../../styles/mixins";

.status-modal {
  @include mixins.flex-position(column, center, center);
  font-size: 1.5rem;
}

.icon {
  width: 3rem;
  height: auto;
  fill: colors.$pastel-red;
}
