@use "../../../styles/colors";

.textarea {
  width: 100%;
  font-family: inherit;
  background-color: colors.$dark-grey;
  color: colors.$white;
  padding: 0.5rem 1rem;

  &::placeholder {
    color: colors.$white;
    text-transform: capitalize;
  }
}

.textarea-label {
  color: colors.$pastel-red;
  font-weight: bold;
  font-size: 0.8rem;
  display: inline-block;
  margin: 1.5rem 0 0.5rem 0;
}
