@use "../../../styles/colors";

.context-menu {
  position: absolute;
  right: 0;
  padding: 0.5rem 0.5rem;

  &__icon {
    width: 1.3rem;
    height: auto;
  }

  &__options {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    background-color: colors.$light-grey;
  }
}
