@use "../../../styles/colors";
@use "../../../styles/mixins";

.text-input {
  appearance: none;
  @include mixins.size(30px, 100%);
  min-width: 100px;
  padding: 0.5rem 1rem;
  border: none;
  background-color: colors.$dark-grey;
  color: colors.$white;

  &::placeholder {
    color: colors.$white;
    text-transform: capitalize;
  }
}

.text-label {
  display: inline-block;
  margin: 1.5rem 0 0.5rem 0;
  color: colors.$pastel-red;
  font-size: 0.8rem;
  font-weight: bold;
}

.error {
  color: colors.$pastel-red;
  font-size: 0.8rem;
}
